---
layout: layouts/base.njk
ogType: article
banner: /assets/img/photos/iconostasis-pentecost.jpg
---
<article class="page">
  {% set hdrEyebrow %}<a href="/news/">News</a>{% endset %}
  {% set hdrTitle = title %}
  {% set hdrLede %}<time datetime="{{ page.date | isoDate }}">{{ page.date | readableDate }}</time>{% endset %}
  {% include "partials/page-header.njk" %}
  <div class="wrap prose">
    {{ content | safe }}
    <p class="back-link"><a href="/news/">&larr; All news</a></p>
  </div>
</article>
