---
layout: layouts/base.njk
title: Page Not Found
permalink: /404.html
eleventyExcludeFromCollections: true
banner: /assets/img/photos/banner-our-location.jpg
---

<article class="page">
  {% set hdrEyebrow = "Error 404" %}
  {% set hdrTitle = "We could not find that page" %}
  {% set hdrLede = "The page you were looking for may have moved when we rebuilt this website. Please try one of the links below, or contact us and we will help you find it." %}
  {% include "partials/page-header.njk" %}

  <div class="wrap prose">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/what-we-do/worship/">Service times</a></li>
      <li><a href="/come-and-see/visiting/">Visiting</a></li>
      <li><a href="/news/">News</a></li>
    </ul>
    <p>
      Or call Father John at <a href="tel:{{ site.phoneHref }}">{{ site.phone }}</a>.
    </p>
  </div>
</article>
