<ul class="services wide">{% for service in site.services %}<li><span class="service-day">{{ service.day }}</span><span class="service-name">{{ service.name }}</span><span class="service-time">{{ service.time }}</span></li>{% endfor %}</ul>
